__pycache__ 
*.pyc 
*.pyo 
*.pyd 
.Python 
env 
.env 
pip-log.txt 
pip-delete-this-directory.txt 
.tox 
.coverage 
.coverage.* 
.cache 
nosetests.xml 
cobertura.xml 
*,cover 
*. iniciar 
sesión.git 
db.sqlite3