DB_ENGINE=django.db.backends.sqlite3
DB_NAME=vetsoftdb.sqlite3
DB_USER=mydatabaseuser
DB_PASSWORD=mydatabasepass
DB_HOST=db
DB_PORT=5432

DEBUG=true
SECRET_KEY=secreto
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

EMAIL_HOST=g10@g10.com
EMAIL_PORT=510
EMAIL_HOST_USER=myemail@example.com
EMAIL_HOST_PASSWORD=myemailpass
EMAIL_USE_TLS=true

DEVELOPMENT_MODE=True
TESTING_MODE=False
PRODUCTION_MODE=False