# Configuración de la base de datos
DB_ENGINE="django.db.backends.sqlite3"
DB_NAME="db.sqlite3"

# Clave secreta de Django
SECRET_KEY="your_secret_key"

# Habilitar o deshabilitar el modo de depuración (DEBUG), solo para entorno de desarrollo, desactivar en producción
DEBUG=True