{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1 class="mb-4">Proveedor</h1>

    <div class="mb-2">
        <a href="{% url 'providers_form' %}" class="btn btn-primary">
            <i class="bi bi-plus"></i>
            Nuevo Proveedor
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for provider in providers %}
            <tr>
                    <td>{{provider.name}}</td>
                    <td>{{provider.email}}</td>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}