{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1 class="mb-4">Veterinarios</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Telefono</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for vet in vets %}
            <tr>
                    <td>{{vet.name}}</td>
                    <td>{{vet.phone}}</td>
                    <td>{{vet.email}}</td>
            </tr>
            {% empty %}
                <tr>
                    <td colspan="5" class="text-center">
                        No existen veterinarios
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
