{% extends 'base.html' %} {% block main %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h1>Nueva Mascota</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <form
                class="vstack gap-3 {% if errors %}was-validated{% endif %}"
                aria-label="Formulario de creacion de mascota"
                method="POST"
                action="{% url 'pets_form' %}"
                novalidate
            >
                {% csrf_token %}

                <input type="hidden" value="{{ pet.id }}" name="id" />

                <div>
                    <label for="name" class="form-label">Nombre</label>
                    <input
                        type="text"
                        id="name"
                        name="name"
                        value="{{pet.name}}"
                        class="form-control"
                        required
                    />

                    {% if errors.name %}
                    <div class="invalid-feedback">{{ errors.name }}</div>
                    {% endif %}
                </div>
                {% comment  %}
                <div>
                    <label for="breed" class="form-label">Raza</label>
                    <input
                        type="text"
                        id="breed"
                        name="breed"
                        class="form-control"
                        value="{{ pet.breed }}"
                        required
                    />
                    {% if errors.breed %}
                    <div class="invalid-feedback">{{ errors.breed }}</div>
                    {% endif %}
                </div>
                {% endcomment %}
                <div>
                    <label for="breed" class="form-label">Raza</label>
                    <select id="breed" name="breed" class="form-select" required>
                        <option value="" disabled selected>Seleccione una opción</option>
                        {% for value, label in breeds %}
                            <option value="{{ value }}" {% if pet.breed == value %}selected{% endif %}>
                                {{ label }}
                            </option>
                        {% endfor %}
                    </select>
                    {% if errors.breed %}
                    <div class="invalid-feedback">{{ errors.breed }}</div>
                    {% endif %}
                </div>
                <div>
                    <label for="birthday" class="form-label"
                        >Fecha de Nacimiento</label
                    >
                    <input
                        type="date"
                        id="birthday"
                        name="birthday"
                        class="form-control"
                        value="{{ pet.birthday }}"
                        required
                    />

                    {% if errors.birthday %}
                    <div class="invalid-feedback">{{ errors.birthday }}</div>
                    {% endif %}
                </div>

                {% comment %} codigo para el dueño que lo busque en la tabla
                clientes o que lo pueda crear {% endcomment %}

                <div>
                    <label for="owner" class="form-label">Dueño</label>
                    <select id="owner" name="owner" class="form-control" required>
                        {% for client in clients %}
                        <option value="{{ client.id }}" {% if pet.owner == client.id %}selected{% endif %}>
                            {{ client.name }}
                        </option>
                        {% endfor %}
                    </select>

                    {% if errors.owner %}
                    <div class="invalid-feedback">{{ errors.owner }}</div>
                    {% endif %}
                </div>
                <div>
                    <a href="{% url 'clients_form' %}" class="btn btn-primary">Crear Dueño</a>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
