{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1 class="text-center">Productos</h1>

    <div class="mb-2">
        <a href="{% url 'products_form' %}" class="btn btn-primary">
            <i class="bi bi-plus"></i>
            Nuevo producto
        </a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Precio</th>
                <th>Stock</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.type }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td class="text-end">
                    <div class="btn-group" role="group">
                        <a class="btn btn-outline-primary me-2"
                            href="{% url 'products_edit' id=product.id %}">Editar</a>
                        <form method="POST" action="{% url 'products_delete' %}" aria-label="Eliminación de productos"
                            onsubmit="return confirm('¿Estás seguro de que quieres eliminar este producto?');">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}" />
                            <button class="btn btn-outline-danger me-2">Eliminar</button>
                        </form>
                        <form method="POST" action="{% url 'increase_stock' %}" class="me-2">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}" />
                            <button type="submit" class="btn btn-success">+</button>
                        </form>
                        <form method="POST" action="{% url 'decrease_stock' %}">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" value="{{ product.id }}" />
                            <button type="submit" class="btn btn-danger">-</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">
                    No hay productos cargados
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}