{% for medicine in medicines %}
<tr>
    <td>{{ medicine.name }}</td>
    <td>{{ medicine.description }}</td>
    <td>{{ medicine.dose }}</td>
    <td>
        <a class="btn btn-outline-primary"
            href="{% url 'medicine_edit' id=medicine.id %}"
        >Editar</a>
        <form method="POST" action="{% url 'medicine_delete' %}">
            {% csrf_token %}
            <input type="hidden" name="medicine_id" value="{{ medicine.id }}" />
            <button type="submit" class="btn btn-outline-danger">Eliminar</button>
        </form>
    </td>
</tr>
{% empty %}
<tr>
    <td colspan="4" class="text-center">
        No existen medicinas
    </td>
</tr>
{% endfor %}
