{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="row">
        {% for button in buttons %}
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="{{ button.url }}" class="text-decoration-none" data-testid="{{ button.id }}">
                <div class="card">
                    <div class="card-body d-flex align-items-center">
                        <h2 class="card-title d-flex justify-content-between w-100">
                            <div>
                                <i class="bi {{ button.icon }}"></i>
                                {{ button.text }}
                            </div>
                            <i class="bi bi-arrow-right"></i>
                        </h2>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
