{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="row">
        {% for item in home_items %}
        <div class="col-3">
            <a href="{{ item.href }}" class="text-decoration-none" data-testid="home-{{item.label}}">
                <div class="card" style="min-height: 20vh">
                    <div class="card-body d-flex align-items-center">
                        <h2 class="card-title d-flex justify-content-between w-100">
                            <div>
                                <i class="{{item.icon}}"></i>
                                {{item.label}}
                            </div>
                            <i class="bi bi-arrow-right"></i>
                        </h2>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
